<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/api/**" entry-point-ref="restAuthenticationEntryPoint" create-session="stateless">
        <security:intercept-url pattern="/api/**" access="hasRole('ROLE_ADMIN')"/>
        <security:csrf disabled="true"/>
        <security:custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/>
    </security:http>

    <bean id="jwtAuthenticationFilter" class="com.bear.springmvc5test.security.JwtAuthenticationFilter">
        <constructor-arg type="java.lang.String">
            <value>/**</value>
        </constructor-arg>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler" ref="jwtAuthenticationSuccessHandler"/>
    </bean>

    <bean id="restAuthenticationEntryPoint" class="com.bear.springmvc5test.security.RestAuthenticationEntryPoint"/>
    <bean id="jwtAuthenticationSuccessHandler"
          class="com.bear.springmvc5test.security.JwtAuthenticationSuccessHandler"/>
    <bean id="jwtAuthenticationProvider" class="com.bear.springmvc5test.security.JwtAuthenticationProvider"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="jwtAuthenticationProvider"/>
    </security:authentication-manager>

</beans>